/*body {
	margin: 0;
	font-family: Helvetica, sans-serif;
	background-color: #ffffff;
}

hr {
	margin: 0;
	color: white;
}

#header {
	top:0;
	margin-top: 0%;
	height: 85px;;
	align-items: center;
	width: 100%;
	position: absolute;
}

#top_header {
	height: 60px;
	display: flex;
	align-items: center;
	width: 100%;
}
#logo {
	height: 70%;
	width: 100%;
	text-align: center;
}
#logo svg{
	height: 100%;
}
#user_container {
	position: absolute;
	right: 30px;
	display: flex;
	align-items: center;
}
#search {
	margin-right: 50px;
}
#user_box {
	
}
#navbar {
	height: 40px;
	display: flex;
	align-items: center;
	background-color: black;
	color: #9c9c9c;
	font-size: 14px;
}
#navbar_sections ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	padding-left: 15px;
}
#navbar_sections ul li:hover {
	color: white;
	cursor: pointer;
}
#navbar_sections ul li:not(:last-child) {
	margin-right: 25px;
}
#sections_dropdown {
	position: absolute;
	right: 5%;
	background-color: whitesmoke;
	color: black;
	cursor: default;
	height: 28px;
	padding: 0 6px 0 6px;
	display: flex;
	align-items: center;
	border-radius: 5px;
}
.dropdown_content {
	display: none;
	position: absolute;
	top: 32px;
	background-color: black;
	list-style-type: none;
	color: #9c9c9c;
	width: 100%;
}
.dropdown:hover .dropdown_content {
	display: block;
}

#headlines {
	background-color: #d4d4d4;
	height: 400px;
}

#main_body {
	background-color: rgb(216, 20, 20);
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 105px;
}

#footer {
	height: 260px;
	background-color: black;
	color: #9c9c9c;
	bottom: 0;
	position: absolute;
	width: 100%;
	text-align: center;
}

#footer_nav_sections {
	padding: 20px 0 20px 0;
	font-size: 15px;
}
#footer_nav_sections ul {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	padding: 0 0 0 36px;
	margin: 0;
}
#footer_nav_sections ul li:not(:last-child) {
	margin-right: 36px;
}
#footer_nav_sections ul li:hover {
	color: white;
	cursor: pointer;
}
#footer_logo {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 0 50px 0;
}
#footer_logo svg {
	height: 100%;
	color: white;
	
}
#copyright {
	display: flex;
	justify-content: center;
	font-size: 11px;
}*/
body {
	margin: 0;
	font-family: Helvetica, sans-serif;
}

hr {
	margin: 0;
	color: white;
}

#top_header {
	height: 60px;
	display: flex;
	align-items: center;
	width: 100%;
}
#logo {
	height: 70%;
	width: 100%;
	text-align: center;
}
#logo svg{
	height: 100%;
}
#user_container {
	position: absolute;
	right: 30px;
	display: flex;
	align-items: center;
}
#search {
	margin-right: 50px;
}
#user_box {
	
}
#navbar {
	height: 40px;
	display: flex;
	align-items: center;
	background-color: black;
	color: #9c9c9c;
	font-size: 14px;
}
#navbar_sections ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	padding-left: 15px;
}
#navbar_sections ul li:hover {
	color: white;
	cursor: pointer;
}
#navbar_sections ul li:not(:last-child) {
	margin-right: 25px;
}
#sections_dropdown {
	position: absolute;
	right: 5%;
	background-color: whitesmoke;
	color: black;
	cursor: default;
	height: 28px;
	padding: 0 6px 0 6px;
	display: flex;
	align-items: center;
	border-radius: 5px;
}
.dropdown_content {
	display: none;
	position: absolute;
	top: 32px;
	background-color: black;
	list-style-type: none;
	color: #9c9c9c;
	width: 100%;
}
.dropdown:hover .dropdown_content {
	display: block;
}

#headlines {
	background-color: #d4d4d4;
	height: 400px;
}

#main_body {
	height: 1000px;
	background-color: white;
}

#footer {
	height: 260px;
	background-color: black;
	color: #9c9c9c;
}
#footer_nav {
	
}
#footer_nav_sections {
	padding: 20px 0 20px 0;
	font-size: 15px;
}
#footer_nav_sections ul {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	padding: 0 0 0 36px;
	margin: 0;
}
#footer_nav_sections ul li:not(:last-child) {
	margin-right: 36px;
}
#footer_nav_sections ul li:hover {
	color: white;
	cursor: pointer;
}
#footer_logo {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 0 50px 0;
}
#footer_logo svg {
	height: 100%;
	color: white;
}
#copyright {
	display: flex;
	justify-content: center;
	font-size: 11px;
}